.contents {
    height: 90vh;
    width: 100vw;
    background-color: whitesmoke;

  }

  h2 {
      font-size: 20px;
      margin-left: 35px;
      font-family: 'Courier New', Courier, monospace;
      color: whitesmoke;
      font-weight: bold;
  }

  .icons {
      padding-right: 20px;
  }

  .footerpage{
    width: 100vw;
    background-image: url("https://images.unsplash.com/photo-1561579537-ce3febff18a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
  }

  .contentbox{
      width: 90vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      align-content: stretch;
      
     
}

.cardspace {
    margin: 15px;
    border: 1px solid black;
    
  
}

img {
    height: 150px;
    width: 200px;
    margin-left: 25px;
}

.editbutton{
    float: right;
   
}

.deletebutton {
    float: right;
    margin-right: 5px;
}

.listSize {
    width: 90vw;
    height: 90vh;
}
.modalInputs {
    margin: 5px;
    border-radius: 20px;
    width: 100%;
}

.tableRow {
    width: 800%;
}

.buttonPadding {
    margin-bottom: 5px;
}

.email {
    margin-left: 30%;
}

.contactSpan {
    font-size: 20px;
      font-family: 'Courier New', Courier, monospace;
      color: whitesmoke;
      font-weight: bold;
}